*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: rgb(32, 28, 28);
}

.banner{
    width: 100%;
    height: 100vh;
    
}

.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h1 {
    color: white;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
}

.navbar ul li:hover::after{
    width: 100%;
    transition: ease-in-out 0.35s;
}
h2{
    
    text-align: center;
    color: #009688;
    text-decoration: none;
    text-transform: uppercase;
    gap: 8px;
    font-size: 40px;

}

button{
    width: 40%;
    padding: 15px 0;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #009688;
    background: transparent;
    color: white;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    margin-left: 140px;

}
span{
    background: #009688;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}

button:hover span{
    width: 100%;
}

form{
    margin-top: 50px;
    gap: 9px;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-left: 380px;
    flex-direction: column;
    width: 40%;
    color: white;
    
  }

 

  input{
    margin-top: 20px;
    height: 20px;
    padding: 15px;
    border-radius: 30px;
    border: 2px solid white;
    font-size: 15px;
  }


